*{
	margin:0; 
	padding: 0;
}
body{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
img{
	max-width:100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

input, select {
	border: 0;
	border-bottom: 2px solid;
}

.container_full{
	width: 100%;
	height: auto;
}
.container{
	width: 960px;
	margin: 0 auto;
	display: block;
}
.fix{
	overflow: hidden;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}


/*_______________________*/

/*---header part css ---*/
.header {
    padding-top: 43px;
    padding-left: 57px;
}

.header_bg{
	height: 121px;
	background-color: #ffffff;

}
.header header h2{
	color: #d7794a;
	font-size: 30px;
}
/*---header part css ---*/


/*---menu part css---*/
.position{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
.menu_bg{
	background-color: #898d8e;
}
.menu{
	height: 80px;
	padding-left: 46px;
	overflow: hidden;
}

.menu ul li{
	height: 80px;
	list-style: none;
	float:left;
}
.menu ul li:hover{
	background-color:  #7d9097;
}
.menu ul li a {
    color: #e8e6e6;
    text-decoration: none;
    padding: 29px 17px;
    display: block;
    font-size: 18px;
}
.menu ul li a:hover{
	color: black;
}
/*---menu part css---*/

/*---welcame part ---*/
.body_bg{

	background-color: #b7bcbe;
	height:700px;
	position: relative;
}
.body_bg h2 {
    position: absolute;
    top: 445px;
    right:145px;
    font-size: 50px;
    color: #fcf9f7;
	
}
.body_bg p {
    position: absolute;
    top: 513px;
    right: 158px;
    font-size: 30px;
    color: #d7794a;
}
/*---welcame part ---*/



/*---colum --*/
.colum_head_bg{
	background-color: #ffffff;
	text-align: center;

}
.colum_head{
	position: relative;
	height: 700px;
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
}
.colum_head h2{
	position: absolute;
    font-size: 40px;
    top: 270px;
   left: 368px;
   color: #d7794a;
}

.colum_head p{
    position: absolute;
	top: 400px;
}
.colum_all{
	width: 1385px;
	margin-left:auto;
	margin-right: auto;
}
.singel_colum{
	width: 450px;
	float: left;
	margin-left: 10px;
}
.singel_colum img{
	width: 400px;
	height: 500px;
}
/*---colum part---*/

/*---note part---*/ 
.note_bg{
	background-color: #1f3138;
	height: 300px;
}
.singel_note{
	text-align: center;
	width: 200px;
	float: left;
	margin-left: 150px;

}
.singel_note h2{
	color: #89553b;
	font-size: 90px;
	padding-top: 75px;
}
.singel_note p{
	color: #fefefe;
	font-size: 22px;
}
/*colum part with css*/

.body_pic_size img{
	height: 1000px;
	width: 100%;
}

.form_bg{
	text-align: center;
	height: 1400px;
	background-color: #2a3e47;
}
.form_head{
	position: relative;
	width: 750px;
	height: 400px;
}
.form_head h2 {
    position: absolute;
    top: 200px;
    left: 350px;
    font-size: 30px;
    color: #ffffff;
    overflow: hidden;
}
.form_head p {
    position: absolute;
    left: 142px;
    top: 277px;
    color: #c0c0c0;
    overflow: hidden;
}
.main_form{
	width: 900px;
}
.main_form form input{
	width: 47%;
	padding:12px 20px;
	background-color: #2a3e47;
	border: none;
	color: #c0c0c0;
	border-bottom: 2px solid #c0c0c0;
}
.main_form form select{
	width: 46%;
	padding:12px 20px;
	background-color: #2a3e47;
	border-bottom: 2px solid #c0c0c0;
	color: #c0c0c0;
}
.main_form form input[type=email] {

	width: 93%;
}
.main_form form textarea{
	width: 93%;
	height: 150px;
	padding:12px 20px;
	background-color: #2a3e47;
	border: none;
	border-bottom: 2px solid #c0c0c0;
	font-size: 16px;
	resize: none;
	color: #c0c0c0;
}
.main_form form input[type=submit] {
	background-color: #89553b;
	border: none;
	color: #c0c0c0;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	margin-right: 10px;
	float: right;
	width: 250px;
}

/* top footer */
.top_footer{
	background-color: #1b2c33;
	width: 100%;
	height: 300px;
}
.singel_footer{
	float: left;
	width: 15%;
	margin-left: 60px;
}
.singel_footer h2{
	color: #e8e6e6;
	text-align: center;
	padding-top: 85px;
}
.singel_footer p{
	color: #e8e6e6;
	text-align: center;
	padding-top: 40px;
}

.footer_position {
	padding-top: 90px;
}

.footer_image {
	padding: 14px;
	position: relative;
}
.footer_image img {
	width: 24px;
	position: absolute;
	top: 5px;
}

.footer_image p {
	display: inline;
	margin-left: 30px;
}

/* top footer */

.bottom_footer {
	height: 80px;
	background-color: #5a5e60;

}

.bottom_text{
	float: left;

}

.bottom_text p {
    color: #fefefe;
    font-size: 20px;
    padding: 28px 129px;
}
.bottom_icon{
	float: right;
	padding-right: 90px;
}

.bottom_icon img{
	width: 40px;
	height: 40px;
	color: #ffffff;
	padding-top: 20px;
}






















